/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.rounded {
  border-radius: 20px !important;
}

.navbar {
  background-color: #201A23;
  margin-top: 72px;
  border-radius: 10px;
  padding: 9px;
}
.navbar-brand {
  color: #FBFBFB;
}
.navbar-nav {
  gap: 9px;
}

.nav-item {
  background-color: #FBFBFB;
  border-radius: 5px;
}

.btn-primary {
  background-color: #201A23;
  border: none;
}
.btn-primary:hover {
  background-color: #DE1A1A;
}
.btn-secondary {
  border: #201A23 solid thin;
  background-color: transparent;
  color: #201A23;
}
.btn-secondary:hover {
  border: #DE1A1A solid thin;
  color: #DE1A1A;
  background-color: transparent;
}

.card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.card-img {
  border-radius: 20px;
  position: relative;
  transition: transform 0.4s ease;
  width: 100%;
  height: auto;
}
.card-img:hover {
  transform: scale(1.1);
}
.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to top right, transparent 50%, rgba(32, 26, 35, 0.75) 100%), linear-gradient(to top left, transparent 50%, rgba(32, 26, 35, 0.75) 100%), linear-gradient(to bottom right, transparent 50%, rgba(32, 26, 35, 0.75) 100%), linear-gradient(to bottom left, transparent 50%, rgba(32, 26, 35, 0.75) 100%);
  color: white;
  padding: 1rem;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card-img-overlay h5 {
  margin-top: 0;
}
.card-img-overlay p {
  margin-bottom: 0;
}
.card:hover .card-img {
  transform: scale(1.1);
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
html {
  background-color: #FBFBFB;
  font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  color: #DE1A1A;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 72px;
}

.c-caseStudy__header {
  height: 50vh;
  background-image: url("../assets/img/work/chiroPopov.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 72px;
}
.c-caseStudy__header h1 {
  color: #FBFBFB;
}
.c-caseStudy__card {
  border: #201A23 solid thin;
  border-radius: 20px;
  padding: 36px;
}
.c-caseStudy__card--overview {
  background-color: #201A23;
  color: #FBFBFB;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-hidden {
  display: none;
}/*# sourceMappingURL=screen.css.map */